
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Fira Sans, system-ui, sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 2rem;
  background-image: url("images/picture.jpg");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
  margin: 3rem auto;
  height: 80%;
  width: 60%;
  background-color: #000000;
  border-radius: 2rem;
  box-shadow: 5px 5px 5px #333333;
}

h1 {
  text-align: center;
  color: #00aaff;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

label {
  min-width: 20rem;
}

input {
  appearance: none;
  display: block;
  min-width: 19rem;
  border: none;
  border: 1px solid white;
  background-color: #080808;
  color: white;
  border-radius: 0.2rem;
  height: 1.8rem;
  margin-top: 0.5rem;
  padding-left: 0.2rem;
}

input:invalid {
  border-color: #ff2255;
}

input:focus:invalid, input:focus:valid {
  outline: none;
}

input:empty {
  border: none;
  border: 1px solid white;
}

input:focus {
  border: none;
  border: 1px solid #11a1ff;
  color: white;
}

input::placeholder {
  color: #999999;
}

label > span {
  color: #dddddd;
}

.submit {
  margin-left: 0.7rem;
}

button {
  color: #010101;
  background-color: #00aaff;
  font-size: 1.1rem;
  padding: 0.5rem 1.7rem;
  margin-bottom: 0.2rem;
  border: none;
  border-radius: 5px;
}

p {
  color: #dddddd;
}

.error {
  position: absolute;
  width: 100%;
  padding-top: 0.2rem;
  font-size: 80%;
  color: #900;
}
